---
import AsideMenuItem from "./AsideMenuItem.astro";
import AsideImage from "./AsideImage.astro";
---

<div class="flex flex-col justify-evenly items-center">
  <AsideImage />
  <ul>
    <AsideMenuItem href="/">
    Welcome
    </AsideMenuItem>
    <AsideMenuItem href="/#">
      About me
    </AsideMenuItem>
    <AsideMenuItem href="/#">
      Projects
    </AsideMenuItem>
    <AsideMenuItem href="/#">
      Contact
    </AsideMenuItem>

  </ul>
</div>