---
import AsideMenuItem from "./AsideMenuItem.astro";
---

<div>
  <ul>
    <AsideMenuItem href="/">
    Welcome
    </AsideMenuItem>
    <AsideMenuItem href="/#">
      About me
    </AsideMenuItem>
    <AsideMenuItem href="/#">
      Projects
    </AsideMenuItem>
    <AsideMenuItem href="/#">
      Contact
    </AsideMenuItem>

  </ul>
</div>